.row
  .col-md-10
    %h1= Rental.model_name.human.pluralize
  .col-md-2
    = link_to new_rental_path do
      .btn.btn-secondary= 'New'

%table.table.table-hover.table-bordered
  %thead
    %tr
      %th= 'id'
      %th{ style: 'width: 50%' }= Rental.human_attribute_name(:name)
      %th= 'Tracked positions count'
      %th= 'Total distance (km)'
      %th{ style: 'width: 20%' }= 'Actions'
  %tbody
    - @rentals.each do |rental|
      %tr
        %td= rental.id
        %td= rental.name
        %td= rental.rental_tracked_positions.count
        %td{ style: 'text-align: right;' }= rental.total_distance.round(3)
        %td{ style: 'text-align: center;' }
          = link_to edit_rental_path(rental) do
            .btn.btn-secondary= 'Edit'
          = link_to(rental_path(rental), method: :delete, data: { confirm: 'Are you sure?' }) do
            .btn.btn-secondary= 'Delete'