!!!
%html
  %head
    %title KoolicarTest
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      %br
      - if flash.present?
        - flash.each do |key, text|
          %div.alert.alert-dismissible{ class: "alert-#{key}" }
            %a.close{ href: '#', data: { dismiss: 'alert' } } &times;
            = Array.wrap(text).join('<br/>').html_safe
        %br

      = yield